:root {
  --background-color: #1a1a2e;
  --primary-color: #ffffff;
  --text-color: #ffffff;
  --alert-danger-color: #ff4d4f;
  --button-bg-color: #ff4d4f;
  --button-text-color: #ffffff;
  --menu-bg-color: rgba(255, 255, 255, 0.2);
  --menu-button-bg: #ffffff;
  --menu-button-text: #1a1a2e;
  --transition-duration: 0.3s;
  --hover-transform: translateY(-5px);
  --hover-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.game-page {
  background-color: #1a1a2e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.game-menu {
  position: fixed; /* Changed to fixed for better visibility */
  top: 10px;
  left: 10px;
  z-index: 10;
  background-color: #ff292d;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.game-menu button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s ease;
}

.game-menu button:hover {
  background-color: #e60000;
}